<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @list.closed %>
</p>

<p>
  <strong>Idnboard:</strong>
  <%= @list.idnboard %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @list.pos %>
</p>

<p>
  <strong>Subscribed:</strong>
  <%= @list.subscribed %>
</p>

<p>
  <strong>Softlimit:</strong>
  <%= @list.softlimit %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
